<div
	class="bg-[#FAFAFC] dark:bg-[#1e1e1e] drop-shadow-md sticky top-0 left-0 w-full z-20"
>
	<nav class="container mx-auto py-3">
		<div class="flex flex-row justify-between">
			<div class="flex gap-1">
				<!-- Logo -->
				<div>
					<img
						src="/Apple_logo_black 1.svg"
						alt="Logo Light"
						class="dark:hidden max-h-5"
					/>
					<img
						src="/Apple_logo_black 2.svg"
						alt="Logo Dark"
						class="hidden dark:block max-h-5"
					/>
				</div>
				<!-- Title -->
				<h1 class="font-normal text-base dark:text-white">CookBook</h1>
			</div>
			<div class="flex gap-5 items-center justify-center dark:text-white">
				<% if (user) { %>
				<a href="/ingredients" class="text-sm font-extralight hover:underline"
					>All Ingredients</a
				>
				<a href="/recipes" class="text-sm font-extralight hover:underline"
					>All Recipes</a
				>
				<a
					href="/auth/sign-out"
					class="text-sm font-extralight hover:underline hover:text-red-700 dark:hover:text-red-500"
					>Sign out</a
				>
				<% } else { %>
				<a href="/auth/sign-up" class="text-sm font-extralight hover:underline"
					>Sign up</a
				>
				<a href="/auth/sign-in" class="text-sm font-extralight hover:underline"
					>Sign in</a
				>
				<% } %>
			</div>
		</div>
	</nav>
</div>
