<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/globals.css" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Home Page</title>
	</head>
	<body class="bg-slate-100 h-dvh">
		<%- include('./partials/_navbar.ejs') %>
		<section class="container mx-auto">
			<div class="flex items-center justify-center h-dvh">
				<div class="bg-white w-fit p-16 rounded-3xl flex flex-col gap-8">
					<h1 class="font-semibold text-4xl">Welcome to AnyTask</h1>
				</div>
			</div>
		</section>
	</body>
</html>
